include LICENSE.txt README.md ipyelk/schema/elkschema.json

exclude src lib docs examples package.json

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints/*
