include LICENSE.txt README.md COPYRIGHT.md py_src/ipyelk/schema/elkschema.json
recursive-include third-party *.html
recursive-exclude scripts *.*

exclude src lib docs examples package.json scripts

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints/*
