include LICENSE.txt README.md COPYRIGHT ipyelk/schema/elkschema.json
recursive-include third-party *.*

exclude src lib docs examples package.json

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints/*
