name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONUNBUFFERED: 1

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v2

      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          environment-file: .ci/environment.yml

      - if: ${{ !contains(matrix.os, 'ubuntu') }}
        shell: bash -l {0}
        run: |
          source /usr/share/miniconda/bin/deactivate
          source /usr/share/miniconda/bin/activate /usr/share/miniconda/envs/_ipyelk_ci_
          anaconda-project run setup
          anaconda-project run build
          anaconda-project run lint

      - if: ${{ !contains(matrix.os, 'macos') }}
        shell: bash -l {0}
        run: |
          source /usr/local/miniconda/bin/deactivate
          source /usr/local/miniconda/bin/activate /usr/local/miniconda/envs/_ipyelk_ci_
          anaconda-project run setup
          anaconda-project run build
          anaconda-project run lint

      - if: ${{ contains(matrix.os, 'windows') }}
        shell: cmd /C CALL {0}
        run: |
          call C:\Miniconda\Scripts\deactivate
          call C:\Miniconda\Scripts\activate C:\Miniconda\envs\_ipyelk_ci_
          anaconda-project run setup
          anaconda-project run build
          anaconda-project run lint

